.Sign{
display: flex;
flex-direction: column;
background-color:  rgb(174 169 211);
align-items: center;
width: 20%;
position: absolute;
border-radius: 10%;
box-shadow:0px 9px 9px 5px #8f6969;
left:40%;

}


div {
    display: block;
}




.text{
    /* display: flex;
    flex-direction: column; */
   
   margin:10px 0px;
   
   width: 55%;
}
.btn{
    margin:10px 10px;
    border:none;

    
    
}
